/*
black:  #000000
white:  #ffffff
green:  #54B059
*/

h1 {
	color: #ffffff;
	margin-top:50px; }

h2 {
	color:#000000;
	font-size:22px;	
}

h3 {
	color: #54B059;
	font-size:35px;
	margin-top:50px; }

.BI {
	font-weight:bold;
	font-style:italic;
}

.BU {
	font-weight:bold;
	text-decoration:underline;
	font-size: 25px;
}

.center-text {text-align: center;
}

.text-align {text-align: right; padding-right: 25px;
}

.right {float:right;}

.left {float:left; margin-left:10px; margin-right:10px;}

.logos {
	list-style-type:none;
	margin:0; padding:0;
	text-align:center;
}
	
.logos li {
	margin:0; padding:0;
	float:left;
	width:33.33%;
}

.clear {clear:both;}

img {border: 0px solid #000000; max-width:100%;
}

a {text-decoration:none;}
a:hover, a:active {text-decoration:underline;}

header {
	background-color:#64e320;
	padding:10px;
}

footer {
	background-color:#818181;
	padding:10px;
	text-align:center;
}
main {
	width:80%;
	float:left;	
}

nav {
	background-color:#c020e3;
	width:20%;
	float:left;
	color:white;
}

#head1 {
	width:75%;
	float:left;
}

#head2 {
	width:25%;
	float:left;
}







@media screen and (max-width:850px) {
	#head1 {float:none; width:100%;}
	#head2 {float:none; width:100%;}
	nav {float:none; width:100%;}
	main {float:none; width:100%;}
	.right {float:none;}
	.logos li {float:none;	width:100%;}
}

@media print {
	header, nav, footer {display:none;}
}
